* {
    font-family: 'montserrat'!important;
    margin: 0;
    padding: 0
}


a {
    text-decoration: none
}

nav {
    background-color:#161E54; 
    color: white;
    height: 60px
}

.contenido{
	max-width:1200px;
	margin:10px auto; 
    padding:0 14px
}


@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal
}