* {
    font-family: 'montserrat';
    margin: 0;
    padding: 0
}


.contenido{
	max-width:1200px;
	margin:10px auto; 
    padding:0 14px
}

.linea {
    height: 10px;
    background-color: #0d2831
}

.phrase p {
    color: white;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    width: 70%
}


.tools .card {
    height: 100%;
    border-radius: 4px;
    transition: transform .2s
}

.tools .card img {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px
}

.card-img-top {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.2)
}


.swiper {width: 100%; height: 600px;}
.swiper-slide {background-position: center; background-size: cover;}
.swiper-pagination {position: relative; margin-top: 30px;}
/* .swiper-pagination-bullet{background: #fff; border:solid thin #cccccc; opacity: 1; width:14px; height:14px}
.swiper-pagination-bullet-active{background: #0d2831; border:solid thin #0d2831; opacity: 1} */
.swiper-pagination-bullet{background: #0d2831; border:solid thin #0d2831; opacity: 1; width:14px; height:14px}
.swiper-pagination-bullet-active{background: #fff; border:solid thin #0d2831; opacity: 1}


@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight:bold;
    font-style:normal;
}
@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-BoldItalic.ttf') format('truetype');
    font-weight:bold;
    font-style:italic;
}
@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}